<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12">
        <span>
          <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/1504958_794683397224674_927156866_n.jpg?oh=928c0c439b70b8ccec276c69e2a3c84b&oe=58F774A5" 
              alt="Dimitrios" 
              style="float:left; max-width:200px; max-height:200px; border-radius:100px">
        </span>
        <span style="color:white;">
          <h2>Dimitrios Litos</h2>
          <p>Born and raised in Uddevalla och har en längre
              erfarenhet som kock och har t ex lagat mat åt Björn Borg,
              som är en flitig gäst på Pizzeria Skaftö</p>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span>
          <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/11695843_10153402861981221_2916099584726552970_n.jpg?oh=53e846223744b9f2246d281dc5ae6a13&oe=58C24034" 
              alt="Alex" 
              style="float:right; max-width:200px; max-height:200px; border-radius:100px">
        </span>
        <span style="color:white;">
          <h2>Alexander Litos</h2>
          <p>Born and raised in Uddevalla och har en längre
                erfarenhet av Diskplockare. Zlatan som förebild</p>
      </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span>
          <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/11888109_10153497144126702_8304701472162747004_n.jpg?oh=2f289ba20fe86cee905b2599f7aaf815&oe=58F40948" 
              alt="Mira" 
              style="float:left; max-width:200px; max-height:200px; border-radius:100px">
        </span>
        <span style="color:white;">
          <h2>Celmira Espling</h2>
          <p>Born and raised in Uddevalla och har en längre
              erfarenhet av servering. Tidigare arbetat på Gothia Towers</p>
        </span>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <app-map></app-map>
  </div>

  <!--<div class="row" style="color:white;">
    <div class="col-xs-4 col-xs-offset-1">
      <form id="shoppinglistadd" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" [formGroup]="myGroup">
              <label for="title">Titel</label>
              <input type="text" id="title" class="form-control" formControlName="title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" [formGroup]="myGroup">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" formControlName="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" [formGroup]="myGroup">
            <div class="form-group">
              <label for="description">Beskrivning</label>
              <textarea type="text" name="description" id="description" cols="15" rows="6" class="form-control" formControlName="description">
            </textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>-->
</div>
