<div id="video-wrapper" class="video-wrapper">
  <!--<video autoplay loop id="bgvid">-->
  <video autoplay id="bgvid">
    
    <!--<source src="https://bufiles.blob.core.windows.net/co3615/video/explore.webm" type="video/webm">-->
    <!--<source src="app/components/video/sw.mp4" type="video/mp4">-->
    <!--<source src="app/components/video/sw2.mp4" type="video/mp4">-->
    <!--<source src="app/components/video/psample.mp4" type="video/mp4">-->
    <source src="app/components/video/pt.mp4" type="video/mp4">
    
  </video>
</div>