<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!pizzaForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Titel</label>
            <input type="text" 
                   id="name" 
                   class="form-control"
                   formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Bild Url</label>
            <input type="text" 
                   id="image-url" 
                   class="form-control"
                   formControlName="imageUrl"
                   #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img style="max-width: 300px; max-height: 300px;" [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Beskrivning</label>
            <textarea type="text" 
                      name="description" 
                      id="description" 
                      cols="15" 
                      rows="6" 
                      class="form-control"
                      formControlName="description">
            </textarea>
          </div>
        </div>
      </div>-->
       <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="price">Pris</label>
            <input type="text" 
                   id="price" 
                   class="form-control"
                   formControlName="price">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <select class="form-control" formControlName="category" id="category" name="category" >
              <option value="default">Välj Kategori...</option>
              <option  *ngFor="let category of categories">                  
                  {{category.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="list-group" formArrayName="ingredients">
            <div class="row" *ngFor="let ingredient of pizzaForm.controls['ingredients'].controls;
                                     let i = index">
              <div formGroupName="{{i}}">
                <div class="col-xs-5">
                  <input type="text" 
                         class="form-control"
                         formControlName="name">
                </div>
                <!--<div class="col-xs-5">
                  <input type="text" 
                         class="form-control"
                         formControlName="amount">
                </div>-->
                <div class="col-xs-2">
                  <button class="btn btn-danger" 
                          (click)="onRemoveIngredient(i)">
                          X
                  </button>
                </div>
              </div>
              
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group row">
      <div class="col-xs-5">
        <input type="text" class="form-control" #ingredientName>
      </div>
      <!--<div class="col-xs-5">
        <input type="text" class="form-control" #ingredientAmount>
      </div>-->
      <div class="col-xs-2">
        <button type="button" 
                class="btn btn-primary"
                (click)="onAddItem(ingredientName.value)">
                <!--(click)="onAddItem(ingredientName.value, ingredientAmount.value)">-->
                +
        </button>
      </div>
    </div>
  </div>
</div>
